@model PaginatedList<TermProject.Models.Pokemon>

@{
    ViewData["Title"] = "PokeDex";
}
<header>
    <h2>PokeDex</h2>
</header>
<hr />

<article>
    <p>
        <a asp-action="Create" class="btn btn-outline-light">Create New</a>
    </p>

    <form asp-action="Index" method="get" class="form-inline col-8">
        <div class="form-group">
            <label class="sr-only" for="SearchString">Name</label>
            <input type="text" class="form-control" name="SearchString" placeholder="Name" value="@ViewData["currentFilter"]" />            
        </div>
        <input type="submit" value="Search" class="btn btn-primary" />
    </form>
    <br />
    
    <table class="table table-hover table-responsive text-light">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NumSortParm"]">#</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["HpSortParm"]">HP</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["AtkSortParm"]">Attack</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DefSortParm"]">Defense</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["SpAtkSortParm"]">Sp. Atk</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["SpDefSortParm"]">Sp. Def</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["SpeedSortParm"]">Speed</a>
                </th>
                <th>
                    @Html.DisplayName("Type")
                </th>
                <th>
                    @Html.DisplayName("Type")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PokedexNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attack)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Defense)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpAttack)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpDefense)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PokemonType1.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PokemonType2.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PokemonId" class="btn btn-outline-light btn-sm">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.PokemonId" class="btn btn-outline-light btn-sm">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.PokemonId" class="btn btn-outline-light btn-sm">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</article>
<br />
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
    asp-route-sortOrder="@ViewData["CurrentSort"]"
    asp-route-pageNumber="@(Model.PageIndex - 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-primary btn-sm @prevDisabled">
Previous
</a>
<a asp-action="Index"
    asp-route-sortOrder="@ViewData["CurrentSort"]"
    asp-route-pageNumber="@(Model.PageIndex + 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-primary btn-sm @nextDisabled">
    Next
</a>