@model IEnumerable<TermProject.Models.Pokemon>

@{
    ViewData["Title"] = "PokeDex";
}
<header>
    <h2>PokeDex</h2>
</header>
<hr />
<article>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-responsive text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PokedexNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpAttack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpDefense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PokemonType1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PokemonType2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PokedexNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpAttack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpDefense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PokemonType1.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PokemonType2.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PokemonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PokemonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PokemonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</article>