@model IEnumerable<TermProject.Models.PokemonType>

@{
    ViewData["Title"] = "Types";
}
<header>
    <h2>Types</h2>
</header>
<hr />

<article>
    <p>
        <a asp-action="Create"class="btn btn-outline-light btn-sm">Create New</a>
    </p>
    <table class="table table-hover table-responsive text-light">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                        <a asp-action="Edit" asp-route-id="@item.PokemonTypeId" class="btn btn-outline-light btn-sm">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.PokemonTypeId" class="btn btn-outline-light btn-sm">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.PokemonTypeId" class="btn btn-outline-light btn-sm">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</article>