@model TermProject.Models.TypeWeakness

@{
    ViewData["Title"] = "Details";
}
<header>
    <h2>Details</h2>
</header>
<hr />

<article>
    <div>
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PokemonType)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PokemonType.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Weakness)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Weakness.Name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.TypeWeaknessId" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-outline-light">Back to List</a>
    </div>
</article>